{%  extends 'main.html' %}

{% block content %}

		<br>

		<div class="row">
			<div class="col-md">
				<div class="card card-body">
					<h5>Products</h5>
					<a class="btn btn-primary  btn-sm btn-block" href="{% url 'add_product' %}">Add Product</a>

				</div>
				<div class="card card-body">
					<table class="table">
						<tr>
							<th>Product</th>
							<th>Category</th>
							<th>Description</th>
							<th>Product Tag</th>
							<th>Date Created</th>
							<th>Price</th>
							<th>Image</th>
							<th>Update</th>
							<th>Delete</th>
						</tr>

						{% for i in product %}
							<tr>
								<td>{{i.name}}</td>
								<td>{{i.category}}</td>
								<td>{{i.description}}</td>
								<td>{% for tag in i.tags.all %}{{tag.name}}{% endfor %}</td>
								<td>{{i.date_created}}</td>
								<td>{{i.price}}</td>
								<td>
								{%if i.pic %}
								<img src="{{ i.pic.url }}" height="50" width="50">
								{% else %}
								<span class="text-muted">NO Image</span>
								{% endif %}
								</td>
								<td><a href ="{% url 'update_product' i.id %}">Update </td>
                                <td><a href="{% url 'delete_product' i.id %}">Delete</a></td>
								
							</tr>
								
							</tr>
						{% endfor %}

					</table>
				</div>
			</div>

		</div>

{% endblock content %}
